#onee{
    background:rgba(0,0,0,0);
    border: none;
}   

input{
margin-bottom: 20px;

}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #f1f1f1;
}
input[type=text]:focus{
    background-color: rgb(24, 24, 23);
    outline: none;


}
td{
    color: white;
}