#onee{
    background:rgba(0,0,0,0);
    border: none;
}   

input{
width: 120px;


}
input[type=text]{
    width: 100%;
 

    box-sizing: border-box;
    border: none;
    background-color: #f1f1f1;
}
input[type=text]:focus{
    background-color: rgb(24, 24, 23);
    outline: none;


}
td,a{
    color: black !important;
}

.onelinee{
    display: inline-block;
    padding-right: 5px;
width: 100px;

  
}
.onelinee button{


    font-size: 12px;
    
}

.h2ahne{
    font-size: 122px !important;
    font-weight: bold;
}
